.container{
    padding: 20px;
    background-color: rgb(25, 49, 95);
    margin: 0 auto;
    border-radius: 20px;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.texto{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 30px;
}

.textoParrafo{
    color: aliceblue !important;
    font-weight: 600 !important;
}

.parrafoContainer{
    background-color: rgb(27, 68, 70) !important;
}

*{
    color: aliceblue;
}

body{
    padding: 20px;
    background-color: rgb(189, 189, 189) ;
}